.jumbotron,
.nav :hover {
    border-radius: 0;
}

.product-image {
    min-height: 100px;
    
}

.product-img{
    text-align: center;
}

img {
    max-height: 250px !important;
    width: 75%;
}

.jumbotron h2 {
    margin-top: -20px;
}

/* single prduct page */

.name {
    background: indigo;
    color: #fff;
    font-weight: bold;
}

.black-10 {
    background: #f2f2f2
}

.black-9 {
    background: #e6e6e6
}

.black-8 {
    background: #d9d9d9
}

.black-8 {
    background: #cccccc
}

.black-8 {
    background: #bfbfbf
}

.black-8 {
    background: #b3b3b3
}



@media only screen and (max-width: 600px) {
    .jumbotron h2 {
        margin-top: 10px;
    }
}

.jumbotron {
    width: 30wh;
    height: 30vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
 
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

